.algorithm-editor {
    .algorithm-editor__title {
        font-size: 14px;
        margin: 0 0 15px 0;
        padding: 15px 0 0 0;
        text-align: center;
        font-weight: 700;
        font-family: "Helvetica";
        border-top: 1px solid rgba(0,0,0,.3);
        width: 100%;
    }
    .algorithm-editor__hint {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,.3);
        padding: 5px 0px 10px 0px;
    }
    .algorithm-editor__graphs {
        margin-bottom: 20px;
    }
}