.content-feed {
    .content-feed__refresh {
        margin-bottom: 7px;
        font-size: 16px;
        padding: 10px;
        border: 3px;
        background-color: rgba(0,0,0,.9);
        border: 1px solid rgba(0,0,0,.9);

        color: rgb(255,255,255);
        &:hover {
            color: rgba(0,0,0,.9);           
            background-color: rgb(255,255,255);
            border: 1px solid rgba(0,0,0,.9);
        }
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
    .content-feed__loading-view {
        padding: 40px 0px;
        img {
            height: 150px;
            width: 150px;
            margin-bottom: 25px;
        }
    }
}