.feed-settings {
  padding: 10px;
  .feed-settings__hint {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
  }
  .feed-settings__group-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-family: 'Helvetica';
  }
  .feed-settings__seperator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }
  .feed-settings__row {
    margin-bottom: 5px;
    .feed-settings__row-label {
      width: 40%;
      min-width: 40%;
      font-size: 14px;
      text-align: left;
      cursor: default;
      svg,
      img {
        height: 20px;
        width: auto;
      }
    }
  }
  .feed-settings__save-button {
    font-size: 16px;
    width: fit-content;
    margin-top: 7px;
    padding: 7px 10px;
    color: rgb(255, 255, 255);
    border: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);

    &:hover {
      color: rgba(0, 0, 0, 0.9);
      background-color: rgb(255, 255, 255);
      border: 1px solid rgba(0, 0, 0, 0.9);
    }
    cursor: pointer;
  }
  .feed-settings__saved-complete {
    color: rgb(50, 255, 50);
    margin-left: 7px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
  }
}
