.header {
    padding: 0px;
    margin-bottom: 10px;
    .header__option {
        text-align: center;
        flex: 1;
        padding: 10px;
        font-size: 16px;
        background-color: rgba(0,0,0,.2);
        color: rgb(0,0,0);
        cursor: pointer;
        font-weight: bold;
        &:hover {
            background-color: rgba(0,0,0,.6);
            color: rgb(255,255,255);

        }
        &.active {
            background-color: rgb(0,0,0);
            color: rgb(255,255,255);
        }
    }

    .header__title-area {
        padding: 10px;

        .header__title {
            font-family: "Courgette-Regular";
            color: rgb(0,0,0);
            font-size: 20px;
        }

        a {
            font-size: 14px;
            margin-right: 15px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }


}